<form>
    <h1>Registro Médicos</h1>
    <div>
        <label>Nombre Completo:</label>
        <input type="text" name="nombrecompleto" placeholder="Nombre Completo">
    </div>
    <div>
        <label>Cédula:</label>
        <input type="text" name="cedula" placeholder="Cédula">
    </div>
    <div>
        <label>Teléfono:</label>
        <input type="text" name="telefono" placeholder="Teléfono">
    </div> 
    <div>
        <label>Foto:</label>
        <input type="file" name="foto">
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email">
    </div>
    <div>
        <label>Fecha de Nacimiento:</label>
        <input type="date" name="fechaNacimiento" placeholder="Selecciona">
    </div>   
    <div>
        <label>Ciudad:</label>
        <select name="ciudad">
            <option value="Bogotá">Bogotá</option>
            <option value="Medellín">Medellín</option>
            <option value="Cali">Cali</option>
            <option value="Barranquilla">Barranquilla</option>
            <option value="Cartagena">Cartagena</option>
            <option value="Pereira">Pereira</option>
        </select>
    </div>
    <div>
        <label>Eps:</label>
        <select name="eps">
            <option value="sura">Sura</option>
        </select>
    </div>
    <div>
        <label>Tipo de Sangre:</label>
        <select name="tipo_sangre">
            <option value="a+">A+</option>
        </select>
    </div>
    <div>
        <label>Alergias:</label>
        <input type="text" placeholder="Ingrese sus Alergias">
    </div>
    <div>
        <input type="submit" value="Actualizar">
        <input type="submit" value="Eliminar Cuenta">
    </div> 
   
</form>
