<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0">Pqrs paciente</h5>
    </div>
    <div class="card-body p-5">
        <form>

            <div class="mb-3 row">
                <div class="col-sm-4">
                      <input type="date" name="fecha" class="form-control"  placeholder="Fecha">
                </div>              
            </div>

            <input class="btn btn-primary" type="submit" value="Buscar">
        
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th>Id</th>
                        <th>Fecha cita</th>
        
                    </tr>
                </thead>
                <tbody class="table-group-divider text-center">
                    <tr>
                        <td>1234567890</td>
                        <td>2023-07-20</td>
        
                    </tr>
        
                </tbody>
            </table>
            
            <h5>Detalle</h5>
            <textarea width="200" height="100" name="detalle"></textarea>
            
            <div> <button class="btn btn-primary" type="submit">Radicar</button></div>
            <br>
            <h5>Filtro por Estado</h5>               
            <div class="mb-3 row">
                <div class="col-sm-4">
                    <select name="estado" required class="form-select">
                        <option value="" selected>Seleccione el estado</option>  
                    </select>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Filtrar</button>
        
            <table class = "table">
                <thead class="text-center">
                    <tr>
                        <th>Código de Radicación</th>
                    
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider text-center">
                    <tr>
                        <td>1234567890</td>
                       
                        <td>Pendiente</td>
                    </tr>
                    <tr>
                        <td>9876543210</td>
                       
                        <td>En curso</td>
                    </tr>
                    <tr>
                        <td>6543210987</td>
                      
                        <td>Resuelto</td>
                    </tr>
                </tbody>
            </table>

            <h5>Historial de mensajes</h5>
            <textarea width="200" height="100" name="historial-mensajes"></textarea>
        
            <h5>Respuesta</h5>
            <textarea width="200" height="100" name="mensaje"></textarea>
            <div>
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>