<p>pqrs-paciente works!</p>
<form>
    <h1>PQRS</h1>
    <label>Elija la fecha de la cita: </label>
    <input type="date">
    <button type="submit">Buscar</button>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha cita</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1234567890</td>
                <td>2023-07-20</td>

            </tr>

        </tbody>
    </table>

   

    <h3>Detalle</h3>
    <textarea width="200" height="100" name="detalle"></textarea>
    <div> <button type="submit">Radicar</button></div>

    <h3>Filtro por Estado</h3>
    <select name="estado">
        <option value="1">Pendiente</option>
        <option value="2">En curso</option>
        <option value="3">Resuelto</option>
    </select>
    <button type="submit">Filtrar</button>

    <table>
        <thead>
            <tr>
                <th>Código de Radicación</th>
            
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1234567890</td>
               
                <td>Pendiente</td>
            </tr>
            <tr>
                <td>9876543210</td>
               
                <td>En curso</td>
            </tr>
            <tr>
                <td>6543210987</td>
              
                <td>Resuelto</td>
            </tr>
        </tbody>
    </table>



    <h3>Historial de mensajes</h3>
    <textarea width="200" height="100" name="historial-mensajes"></textarea>

    <h3>Respuesta</h3>
    <textarea width="200" height="100" name="mensaje"></textarea>
    <div>
        <button type="submit">Enviar</button>
    </div>
</form>