<form>
    <h1>Pedir cita</h1>
    <label>Elija una especilidad:  </label>
    <select name="especialidad">
        <option value="1">Pediatria</option>
        <option value="2">Cardiologia</option>
        <option value="3">Oftalomologo Oncologo</option>
    </select>
    <label> Elija la fecha de la cita:  </label>
    <input type="date">
    <button type="submit">Buscar</button>

    <table>
        <thead>
            <tr>
                <th>Nombre Especialista</th>
                <th>Hora</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dr.Felipe</td>
                <td>07:30</td>

            </tr>

        </tbody>
    </table>

    <h3>Motivo</h3>
    <textarea width="200" height="100" name="motivo"></textarea>
    <div>
        <button type="submit">Pedir cita</button>
    </div>

    <label> Elija la fecha de la cita:  </label>
    <input type="date">
    <button type="submit">Buscar</button>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Motivo</th>
                    <th>Fecha de creacion</th>
                    <th>Fecha de la cita</th>
                    <th>Hora</th>
                    <th>Estado</th>
                    <th>Medico</th>
                </tr>
            
            </thead>
            <tbody>
                <tr>
                    <td>Motivo</td>
                    <td>Fecha de creacion</td>
                    <td>Fecha de la cita</td>
                    <td>Hora</td>
                    <td>Estado</td>
                    <td>Medico</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>