<ul class="nav mb-2 justify-content-center mb-md-0">
        
    <li><a routerLink="" class="nav-link px-2 text-white">Inicio</a></li>
    <li><a routerLink="/paciente/gestion-info-personal" class="nav-link px-2 text-white">Gestion info</a></li>
    <li><a routerLink="/paciente/consultas-paciente" class="nav-link px-2 text-white">Consultas</a></li>
    <li><a routerLink="/paciente/pedir-cita" class="nav-link px-2 text-white">Pedir Cita</a></li>
    <li><a routerLink="/paciente/pqrs-paciente" class="nav-link px-2 text-white">PQRS Paciente</a></li>

</ul>