<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0">Tratamiento</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm">
             <div class="mb-3 row">
                <label  class="col-sm-2 col-form-label"> Ingrese el nombre del medicamento:  </label>
                <div class="col-sm-4">
                    <input class="form-control"  type="text"  name="medicamento" [(ngModel)]="textoIngresado">
                </div>
             </div>
            <button class="btn btn-primary" type="submit" (click)="buscarTratamiento()">Buscar</button>
            <div>
                <table class="table">
                    <thead class="text-center">
                        <tr>
                            <th>Medicamento</th>
                            <th>Dosis</th>
                            <th>Observaciones</th>
                         
                    
                    </thead>
                    <tbody class="table-group-divider text-center">
                        <tr *ngFor="let item of auxiliarTratamiento">
                            <td>
                                <p>{{item.nombreMedicamento}}</p>
                            </td>
                            <td>
                                <p>{{item.dosis}}</p>
                            </td>
                            <td>
                                <p>{{item.observaciones}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-alerta [alerta]="alerta"></app-alerta>
        </form>
    </div>
    </div>

