<form>
    <h1>
        Tratamiento
    </h1>
    <label> Ingrese el nombre del medicamento:  </label>
    <input type="text" placeholder="Ingrese el nombre del medicamento">
    <button type="submit">Buscar</button>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Medicamento</th>
                    <th>Dosis</th>
                    <th>Observaciones</th>
                 
            
            </thead>
            <tbody>
                <tr>
                   
                    <td>Carboximetil</td>
                    <td>1</td>
                    <td>Ninguna</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
