<form>
    <h1>PQRS</h1>
    <h3>Filtro por Estado</h3>
    <select name="estado">
        <option value="1">Pendiente</option>
        <option value="2">En curso</option>
        <option value="3">Resuelto</option>
    </select>
    <button type="submit">Filtrar</button>

    <table>
        <thead>
            <tr>
                <th>Código de Radicación</th>
                <th>Detalle</th>
                <th>Fecha de creación</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1234567890</td>
                <td>Consulta médica</td>
                <td>2023-07-20</td>
                <td>Pendiente</td>
            </tr>
            <tr>
                <td>9876543210</td>
                <td>Solicitud de reembolso</td>
                <td>2023-08-03</td>
                <td>En curso</td>
            </tr>
            <tr>
                <td>6543210987</td>
                <td>Queja</td>
                <td>2023-09-10</td>
                <td>Resuelto</td>
            </tr>
        </tbody>
    </table>

    <h3>Cambiar estado</h3>
    <select name="estado">
        <option value="1">Pendiente</option>
        <option value="2">En curso</option>
        <option value="3">Resuelto</option>
    </select>
    <button type="submit">Actualizar estado</button>

    <h3>Consulta</h3>
    <textarea  width="200" height="100" name="consulta"></textarea>

    <h3>Historial de mensajes</h3>
    <textarea   width="200" height="100" name="historial-mensajes"></textarea>

    <h3>Respuesta</h3>
    <textarea  width="200" height="100" name="mensaje"></textarea>
    <div>
        <button type="submit">Enviar</button>
    </div>

</form>