<form>
    <h2>Historico de consultas</h2>

   <input type="text" placeholder="ingrese la cedula del paciente">
    <input type="date" name="fecha" placeholder="Fecha">

    <input type="submit" value="Buscar">


    <table>
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Notas del Medico</th>
                <th>Tratamiento</th>
                <th>Sintomas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>María López</td>
                <td>2023-11-01</td>
                <td>xxxxxx</td>
               
                <td>
                    <button type="submit">Ver tratamiento</button>
                </td>
                <td>xxxxxxxxx</td>
            </tr>
        </tbody>
    </table>
</form>
