<form>
    <h1>Consultas Médicas</h1>
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Ingresa el nombre del médico">
            <input type="date" class="form-control" placeholder="Ingresa la fecha">
            <button type="submit">Buscar</button>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Cédula Paciente</th>
                <th>Nombre Paciente</th>
                <th>Fecha de Atención</th>
                <th>Nombre Medico</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123</td>
                <td>Juan Pérez</td>
                <td>20/08/2023</td>
                <td>Alexander</td>
            </tr>
            <tr>
                <td>1234</td>
                <td>Marco Botton</td>
                <td>2/07/2023</td>
                <td>Javier</td>
            </tr>
            <tr>
                <td>12345</td>
                <td>Mariah Maclachlan</td>
                <td>12/08/2023</td>
                <td>Luis</td>
            </tr>
        </tbody>
    </table>

</form>