<form>
    <h2>Programar día libre</h2>

    <div>
        <label for="fecha">Fecha</label>
        <input type="date" name="fecha" id="fecha">
        <div>
            <button type="submit">Agregar</button>
            <button type="submit">Actualizar</button>
        </div>
    </div>
    <div>

        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>xxxxxx</td>
                    <td>xxxxxx</td>
                </tr>
            </tbody>
        </table>
    </div>
</form>