<!--<header>
<p>Página inicial de {{title}}</p>
<ul>
<li><a href="">Inicio</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/registro">Registro</a></li>
</ul>
</header>
<router-outlet></router-outlet>
<footer>
<p>Universidad del Quindío - 2023</p>
</footer>
<body><p>Integrantes: {{integrantes}}</p></body>-->


<header>
    <p>Página inicial de {{title}}</p>
    <ul>
    <li><a routerLink="">Inicio</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/registro">Registro</a></li>
    </ul>
    </header>
    <router-outlet></router-outlet>
    <footer>
    <p>Universidad del Quindío - 2023</p>
</footer>